.kdb{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    color: rgb(18, 215, 241);
}
.kdb1{
    color: aliceblue;
}
body{
    background-image: url("https://i.pinimg.com/originals/4f/2f/7d/4f2f7d2aa8582dcca07ca3eb600e922b.png");
    height: 500px;
}
.str{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    
}
.str1{
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.str2{
    text-align: left;
}
.kdb1{
 text-align: left;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}    
#rrt{
    background-image: conic-gradient(red, yellow, green);
}
#rrt{
    background-image: conic-gradient(red, yellow, green);
}#rrt{
    background-image: conic-gradient(red, yellow, green);
}