.str{
    text-align: center;
    color: dimgrey;
    font: 1em sans-serif;
}
.str1{
    text-align: center;
    color: darkslategrey;
    font: 1em sans-serif;
}
.str2{
    text-align: center;
    color: cornflowerblue;
    font: 1em sans-serif;
}
span{
    color: red;
}
.color{
    color: red;
}
.color1{
    color: red;
}