.str{
    text-align: center;
    color: dimgrey;
    font: 1em sans-serif;
}
.str1{
    text-align: center;
    color: darkslategrey;
    font: 1em sans-serif;
}
.str2{
    text-align: center;
    color: cornflowerblue;
    font: 1em sans-serif;
}
span{
    color: red;
}
.color{
    color: red;
}
.color1{
    color: red;
}
.show{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.show1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.show2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.show3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.show4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.show5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.string{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.string1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.string2{
    text-align: center;
}
.string3{
    text-align: center;
}
.string4{
    text-align: center;
}
.string5{
    text-align: center;
}