.str{
    text-align: center;
}
.flex{
    text-align: center;
}
.bnt{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 255, 255)
    
}
.flex1{
    background-image: url("https://cdn.mos.cms.futurecdn.net/wbjyRLZMXd8MxbsTp6B8UD.jpg" );
    height: 700px;
}
.bnt1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
.bnt2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
}
.bnt3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
#vvv{
    padding: 50px !important;
    }